<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="LeafTap Regression UI Test" parallel="classes"
	thread-count="2">
	<parameter name="url" value="http://leaftaps.com/opentaps/control/main"></parameter>
	<test name="Leads-Chrome">
		<parameter name="browserName" value="chrome"></parameter>
    <classes>
      
      <class name="com.leaftap.leads.ui.cases.MergeLeadTest"/> 
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
